<!DOCTYPE html>
<html>
  <head>
    <title><%= config[:title] %> - <%= current_page.data.title %></title>
    <%= stylesheet_link_tag "application" %>
  </head>
  <body class="bg-slate-600">
    <%= yield %>
    <%= javascript_include_tag "application" %>
  </body>
</html>
